/* Component.module.css */

.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
}

.header {
  display: grid;
  gap: 0.5rem;
  text-align: center;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}

.description {
  color: var(--gray-500);
  max-width: 28rem;
  margin: 0 auto;
}

.cardGrid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: var(--background);
  cursor: pointer;
  transition: all 0.3s;
}
.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
