.main {
  background: url("../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Base styles for all screens */
.footer {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  color: var(--background);
}

.footer a,
.footer p {
  color: var(--background);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer ul li {
  margin: 0 1rem;
}

/* Styles for larger screens (override mobile styles) */
@media (min-width: 768px) {
  .footer {
    /* width: 85%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer ul {
    width: 40%;
  }

  .footer ul li {
    margin: 0;
  }
}
